<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STD ORDERS PHC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


    <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #04AA6D;
          color: white;
        }
        </style>
   <div class="topnav">
    <a href="/StdMOH">MOH STD ORDERS</a>
   <a href="/ExpMOH">MOH EXP ORDERS</a>
    <a href="/stdjpmc">JPMC STD ORDERS</a>
  <a href="/stdphc">PHC STD ORDERS</a>
    <a href="/ImeMoh">MOH IME ORDERS</a>
   <a href="/">USERS</a>
   <a href="/guestmoh">GUEST MOH</a>
   <a href="/expjpmc">JPMC EXP ORDERS</a>

 
  <input type="text" id="phcstdInput" onkeyup="searchTable()" placeholder="Search Patient Number">
      </div>


    <table id="phcstdTable" class="table table-light table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">bruhims</th>
            <th scope="col">kampong</th>
            <th scope="col">jalan</th>
            <th scope="col">simpang</th>
            <th scope="col">house_Number</th>
            <th scope="col">contact_1</th>
            <th scope="col">email</th>
            <th scope="col">qo</th>
            <th scope="col">radioTOD</th>
            <th scope="col">BNHC</th>
            <th scope="col">TUHC</th>
            <th scope="col">TEHC</th>
            <th scope="col">BHC</th>
            <th scope="col">radioDistrict</th>
            <th scope="col">pm</th>
            <th scope="col">re</th>
            <th scope="col">radioNOTI</th>
            <th scope="col">radioDURATION</th>
            <th scope="col">dateSubmit</th>
            <th scope="col">ordertaken</th>
            <th scope="col">Status</th>
          </tr>
    
        <tbody>
        <%std_PanagaOrdersList.forEach(std_PanagaOrders => {%>
            <tr>
                <th scope="row"><%= std_PanagaOrders.name %></th>
                <td><%= std_PanagaOrders.bruhims %></td>
                <td><%= std_PanagaOrders.kampong %></td>
                <td><%= std_PanagaOrders.jalan %></td>
                <td><%= std_PanagaOrders.simpang %></td>
                <td><%= std_PanagaOrders.house_Number %></td>
                <td><%= std_PanagaOrders.contact_1 %></td>
                <td><%= std_PanagaOrders.email %></td>
                <td><%= std_PanagaOrders.qo %></td>
                <td><%= std_PanagaOrders.radioTOD %></td>
                <td><%= std_PanagaOrders.BNHC %></td>
                <td><%= std_PanagaOrders.TUHC %></td>
                <td><%= std_PanagaOrders.TEHC %></td>
                <td><%= std_PanagaOrders.BHC %></td>
                <td><%= std_PanagaOrders.radioDistrict %></td>
                <td><%= std_PanagaOrders.pm %></td>
                <td><%= std_PanagaOrders.re %></td>
                <td><%= std_PanagaOrders.radioNOTI %></td>
                <td><%= std_PanagaOrders.radioDURATION %></td>
                <td><%= std_PanagaOrders.dateSubmit %></td>
                <td><%= std_PanagaOrders.ordertaken %></td>
                <td>   
                    <form action="" method="post">
                        <input type="checkbox" name="favorite1" value="Order Taken" /> Order Taken
                        <input type="checkbox" name="favorite2" value="Not Taken" /> Not taken
                      
                      </form>
                      
                </td>
            </tr>
        <%})%>
        </tbody>
      </table>
      
      <script>
        function searchTable() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("phcstdInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("phcstdTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        </script>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
</body>
</html>